.spinner {
  animation: spinner 3s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}